<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Planner</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
  <header class="bg-blue-600 p-4 text-white shadow-md">
      <div class="container mx-auto flex justify-between items-center">
          <h1 class="text-2xl font-bold">
              <a href="/" class="hover:text-gray-300 transition duration-300">Study Planner</a>
          </h1>
          <nav class="space-x-4 flex">
            <% var isloggedin = typeof isloggedin !=="undefined" ? isloggedin : true %>
              <% if (isloggedin) { %>
                <% if (typeof user !== 'undefined' && user.image) { %>
                <div>  <a href="/dashboard" class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 transition duration-300 ease-in-out">Dashboard</a></div>
                 <div> <a href="/user/logout" class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-green-600 transition duration-300 ease-in-out">Logout</a></div>
                  <div class="relative ml-3">
                    <div>
                        <button type="button" class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true" onclick="toggleDropdown()">
                          <span class="sr-only">Open user menu</span>
                          
                            <img class="h-8 w-8 rounded-full" src="data:image/jpeg;base64,<%= user.image.toString('base64') %>" alt="">
                          
                            
                        </button>
                      </div>
              
                      <!-- Dropdown menu -->
                      <div class="absolute right-0 z-50 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden" id="user-dropdown" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                        <a href="/Profile/<%= user._id %>" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
                        <a href="/Account/<%= user._id %>" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
                        <a href="/user/logout" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Logout</a>
                      </div>
                  </div>
                  <% } %>
              <% } %>
          </nav>
      </div>
  </header>