<%- include('./partials/header') %>
<% if(success.length > 0) { %>
    <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-green-500 mb-5">
      <span class="inline-block mt-1 mb-1 text-white">
        <%= success %>
      </span>
    </div>
  <% } %>
<div class="container mx-auto p-4 mt-20 mb-20">
    <h2 class="text-2xl font-bold mb-4 text-center">Change Password</h2>
    <form action="/user/change_pass" method="POST" class="max-w-md mx-auto bg-white shadow-md rounded-lg px-8 pt-6 pb-8 mb-4">
        <input type="email" name="email" value="<%= email %>">
        <div class="mb-4">
            <label for="newPassword" class="block text-gray-700">New Password</label>
            <input type="password" name="newpassword" id="newPassword" class="block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" required>
        </div>
        <div class="flex justify-between items-center">
            <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600 transition duration-300">Change Password</button>
            <div class="flex items-center space-x-2">
              <p class="text-gray-600"> change Password?</p>
              <a class="text-blue-600 font-bold hover:underline" href="/user/login">Login</a>
            </div>
          </div>
    </form>
</div>
