<%- include('./partials/header') %>

<div class="container mx-auto p-4 relative z-10">
  <h1 class="text-4xl text-center mt-8 text-black">Welcome to Study Planner</h1>
</div>

<!-- Features Section -->
<div class="container mx-auto p-4 mt-10">
    <h2 class="text-3xl font-bold text-center text-blue-600">Features</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-6">
      <div class="bg-white p-6 rounded-lg shadow-lg text-center">
        <img src="/images/organized_1.jpeg" alt="Feature 1" class="mx-auto mb-4 w-16 h-16">
        <h3 class="text-xl font-semibold text-gray-800">Organize Your Schedule</h3>
        <p class="text-gray-600 mt-2">Easily organize and manage your study schedule.</p>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-lg text-center">
        <img src="/images/track_1.jpeg" alt="Feature 2" class="mx-auto mb-4 w-16 h-16">
        <h3 class="text-xl font-semibold text-gray-800">Track Your Progress</h3>
        <p class="text-gray-600 mt-2">Monitor your progress and stay motivated.</p>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-lg text-center">
        <img src="/images/goals_1.jpeg" alt="Feature 3" class="mx-auto mb-4 w-16 h-16">
        <h3 class="text-xl font-semibold text-gray-800">Organize Your Goals</h3>
        <p class="text-gray-600 mt-2">Set and organize your study goals effectively.</p>
      </div>
    </div>
  </div>
  
  <!-- Testimonials Section -->
  <div class="container mx-auto p-4 mt-10">
    <h2 class="text-3xl font-bold text-center text-blue-600">Testimonials</h2>
    <div class="mt-6">
      <div class="bg-white p-6 rounded-lg shadow-lg text-center">
        <p class="text-gray-800 italic">"Study Planner has completely transformed the way I study. It's a game-changer!"</p>
        <p class="mt-4 text-gray-600">- Chirag Surati</p>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-lg text-center mt-6">
        <p class="text-gray-800 italic">"I love the simplicity and effectiveness of Study Planner. Highly recommend it!"</p>
        <p class="mt-4 text-gray-600">- Ashish patel</p>
      </div>
    </div>
  </div>
  
  

<%- include('./partials/footer') %>
