<%- include('./partials/header') %>
<div class="container mx-auto p-4 mt-20 mb-20 reveal">
    <h2 class="text-2xl font-bold mb-4 text-center">Login</h2>
    <form action="/user/login" method="POST" class="max-w-md mx-auto bg-white shadow-md rounded-lg px-8 pt-6 pb-8 mb-4">
      <div class="mb-4 reveal">
        <label for="email" class="block text-gray-700">Email</label>
        <input type="email" name="email" id="email" class="input block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" required>
      </div>
      <div class="mb-4 reveal">
        <label for="password" class="block text-gray-700">Password</label>
        <input type="password" name="password" id="password" class="input block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" required>
      </div>
      <div class="flex justify-between">
        <button type="submit" class="btn-primary bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600 transition duration-300">Login</button>
        <a href="/user/forgot_pass" class="text-blue-600">Forgot Password..</a>
         
      </div>
      
    </form>
  </div>
  <script>
    // Intersection Observer to reveal elements on scroll
    const revealElements = document.querySelectorAll('.reveal');
    
    const observer = new IntersectionObserver((entries, observer) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add('active');
          observer.unobserve(entry.target);
        }
      });
    }, { threshold: 0.1 });
    
    revealElements.forEach(el => {
      observer.observe(el);
    });
    </script>
    
    
  <script src="/javaScrips/script.js"></script>