@tailwind base;
@tailwind components;
@tailwind utilities;


  


@keyframes rotate {
  0% { transform: rotateY(0deg); }
  50% { transform: rotateY(180deg); }
  100% { transform: rotateY(360deg); }
}

@keyframes hover3d {
  0% { transform: perspective(1000px) rotateX(0deg) rotateY(0deg); }
  50% { transform: perspective(1000px) rotateX(10deg) rotateY(10deg); }
  100% { transform: perspective(1000px) rotateX(0deg) rotateY(0deg); }
}

.animate-hover-3d {
  transition: transform 0.3s;
}

.animate-hover-3d:hover {
  animation: hover3d 0.5s ease-in-out;
  transform: perspective(1000px) rotateX(10deg) rotateY(10deg);
}

/* Animation styles */
.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .reveal.active {
    opacity: 1;
    transform: translateY(0);
  }

 
  .animate-fade-in {
    animation: fadeIn 1.5s ease-in-out;
  }

  .animate-slide-in-left {
    animation: slideInLeft 1s ease-out;
  }

  .animate-slide-in-right {
    animation: slideInRight 1s ease-out;
  }

  .animate-slide-in-up {
    animation: slideInUp 1s ease-out;
  }

  .animate-bounce {
    animation: bounce 2s infinite;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  /* Keyframes for typing animation */
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: rgb(250, 248, 248); }
}

/* Typing animation styles */
.animate-typing {
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 4s steps(30, end) infinite, blink-caret .75s step-end infinite;
}

